:root {
  --spacex-blue: #005288;
  --spacex-silver: #a7a9ac;
  --spacex-black: #0b0b0b;
  --spacex-white: white;
  --spacex-silver-light: #fbfbfb;
  --spacex-border-color: #666;
  --main-font: "Montserrat", sans-serif;

  --max-width: 80rem;
}

body {
  margin: 0;
  font-family: var(--main-font);
}

header {
  width: 100%;
  background-color: var(--spacex-black);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.8rem 0 0;
  min-height: 15vh;
}

header img {
  max-height: 1.5em;
  position: relative;
  bottom: 0.4rem;
}

header h1 {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 1em;
  margin: 0;
}

header nav {
  width: 100%;
}

header nav ul {
  list-style-type: none;
  padding: 0.2rem 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.8rem 0 0;
  background-color: var(--spacex-silver-light);
}

header nav ul li {
  padding: 1rem 0;
  border: 1px solid white;
  background-color: var(--spacex-white);
  width: 100%;
  max-width: calc(var(--max-width) / 2);
  min-width: 10rem;
  border-right: 1px dashed var(--spacex-silver);
}

header nav ul .active a span {
  border-bottom: 2px solid var(--spacex-blue);
}

header nav ul a span {
  padding-bottom: 0.3rem;
}

header nav ul li:first-child {
  border-left: 1px dashed var(--spacex-silver);
}

header nav ul li:hover {
  background-color: var(--spacex-silver-light);
}

header nav ul li a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--spacex-black);
  font-size: 0.8rem;
}

blockquote {
  height: 45vh;
  padding: 0 16%;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  margin: 0;
}

.banner-background {
  height: 45vh;
  width: 100%;
  filter: brightness(50%);
  position: absolute;
  z-index: -1;
}

section h2 {
  margin: 0 0 2rem;
  max-width: var(--max-width);
  width: 100%;
}

.showcase {
  background-color: var(--spacex-blue);
  color: white;
  padding: 2.5rem 10rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: var(--max-width);
  width: 100%;
}

.showcase img {
  width: 8em;
  height: 8em;
}

.showcase-titles-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 10rem;
}

.showcase-details-container {
  max-width: 60rem;
  min-width: 10rem;
  width: 50%;
  margin: 0;
}

.showcase-details-container p {
  margin: 0;
}
.showcase div div {
  display: flex;
  flex-direction: column;
}

.video-link {
  color: white;
  font-size: 6rem;
  height: auto;
}

.info-type {
  font-weight: bold;
}
